.cvcontainer {
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
}

Text {
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
}

.startContainer {
    padding-top: rem(120px);
    padding-bottom: rem(60px);
}

.endContainer {
    padding-top: rem(60px);
    padding-bottom: rem(60px);
}