.text {
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-2));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
}

.title {
    color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-dark-0));
    font-weight: 500;
}

.projectsBoxContainer {
    width: 100%;
    padding-top: 0;
    margin-top: 0;
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-9));
}

.projectsInfo {
    flex-direction: column;
    padding-bottom: rem(60px);
}

.equalHeightCards {
    display: flex;
    flex-wrap: wrap;
  }
  
  .equalHeightCards > * {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }